* {
	margin:0;
	padding:0;
	margin-left:80px;
}

.picture {
	width:1000px;
	height:600px;
	position:sticky;
	top:0;
}

#zero {
	background-color:white;
	z-index:-200;
}

#one {
	/*background-image:url("data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBxMSEhUTEhMWFRUXFxUVFxYYFhcWGhcVGBgXFhUYFxoZHSggGBolHRcVIjEhJikrLi4uFyAzODMtNygtLisBCgoKDg0OGhAQGyslICUtLS0wLy0tLSsrLS0tLS0tLS0rLSstLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLf/AABEIALcBEwMBIgACEQEDEQH/xAAbAAABBQEBAAAAAAAAAAAAAAAEAAECAwUGB//EAEEQAAEDAgQDBQcCBAQEBwAAAAEAAhEDIQQSMUEFUWEicYGRoQYTMrHB0fBCUhQjcvEVM2LhByQ0gkNTVYOSlKL/xAAZAQADAQEBAAAAAAAAAAAAAAAAAQIDBAX/xAAtEQACAgEDAwIEBgMAAAAAAAAAAQIRIQMSMRNBUSJhBDJxkYGhsdHh8BQjQv/aAAwDAQACEQMRAD8A7l2HLjLIBsbnNaNDOysNTK2ZJdcARIA8Em03EtLZA0F+QP54KrElos/NIgW0vuSef2learR6HJVic5YMkGHOc4mGiIA0cfUc0HXMAiD2jMjQct0QXFpAzPHZjQdoRoBMeKFyyCTIBNyRtHa8wOe6ynXg0ii/BPDfjBvMXuAOUBXt1Mug7EdeaA9+c1NrDmaNo/bqDvsUqJdmJy9kzExdhiLTexjwUStLBe01MFxAhxbOYeZnojhxQAC9+oMeaxMQ6L6jY+p0VP8AiPvBB7LgYymPhAnX80VQ+KlHCIloKWaOnbxNu/590W3ENO48wuQwdXYSJg3AIOwn1WnWcBADQAIvpzldWn8W2snPP4ZXg3mvB0KmubdWI0flEmLTPkVdRxzy0ZTJ6CQTMbxbqto/FRZnL4drg3klmUOIEHI/K5w1yGR67ouji2uE6c52W61Isxem0EpKAeDoZTyrJHSTJSgB0kyQQA6SSSBCSSSQAkydJIBJJJkwHa5FUqiDKk1yADiFw/HcEcLV943/ACahuP2PP0K7Wk+VTj8G2qx1N4lrhCqLrngGjlaNZGMqLnsOHUajqFQ9pnwn9zDoVq0KqmUdroadmkHJIcVU6kZTVY4OzA72mbCQIhKviy4ESwxBPK2x2nTdU1cRUN2uBBsO8n/f0Q5oks7QHYDQJAm1r9TNj9V5qlV1Z6G2+R2VMxbBMNP6QLuuO/n5q3iNB7h+k37IJiDzNp7hMqugwgmAWS6QJuLEHbxVmM7JgF2YZi6+gPaJju+ySkmmh1nBDh+D92Y1cSHCQQW7GLxp/ZGVeG2aS85psYFwf6R3X6IPD1DUdu0RIE2m/jysjnOLSCDeRbpEX9U0401WBPdfOQPEYV7W3bI5T4890E6g250y3PwmDb8hbONpteIgOOsk6b2PJAtIyxGW4tNtSL8rR6rHU0EnguGq2sldLDScziLaNHKLHqry4lwJGYd8fmpUmQXZWmSY5RHXrc3VFYEZRmBzk27jEjvWb032KTTLS5pMCZuJ8t9lZRaYytOXx1Ph4eaFyZSWu3sWnUnaSUTgWvFwARyfIPz5AWhELvIpcEKmGLTJc0vufhmAbXMa9eiLItJLjMSYGaeWmn3T4ppysLWAOcb5jZsb21QVfCVZ7L2xY5nX1+LuE6LTqyhar8/3JpS5ZoUs4EBptzB281E4h5ESWu36eZCBYKnaALoaNR2gTedb6fnO9tcxmyNkazeLmJb5eS0jr1zZL0/FF1HHVNPiI16+tkbR4hIBcAJ8/JYtai1xAkS4/CJYftKJxTyBAaBaDMkNAtzv/Zbw13/cmctJGoziNM/qjvBCJY8HQg9xlYNKmWt+ETFuz9OSjVxGQSIaeZBBPnafFaL4jyZvQXY6JJYuHx9R3MXi4kHx05K2jxN9szW+Dt7adLrVa8DN6MkaqRQjceyJccvfp5q7+IbAOYQTAM6nkFanF8Mhxa7FqSSZWSOmSSQISZOmQBbTci2mQgAisPdIDB9r+GZg2sxpNRnLdp1B6LDoVZAI0N13lenmaRzC86wzSx1Sm7Vjzy+E3GmncreY/QO5ph3VJDh6SzKKqPF6LgWte2ZAE2Oo2ImEc54cc0gQO1zJ8OhOnNNjPZKi9uakQQRI0IPcRqsav7OvaIa9wA0GYwPDReM1OGGempQkbVGtTIDvebAdrUc56yAoEOLyQ8gGAT9PX8hYJpYlgizh1H1ESrcLxJzbVKZ/qBmD/SdFPUfdFbV2Zrtq5SSCCbDvjlfSD6rPx3Fni5Drdl0CwnQnw+aIxwNZjSy5H6uf51WFUqVGNLHEgE3nWxsCT4XVOaTpvARVnTYE1H0jVc3KCIY2LmT8R7xCEZVzP90SJs0ASBLrAzu6BpotCjTfRo0qc6CXOjMdS6226GNZzQSwzIJBIA7O58IPmtVNcGe1hNaGOhpYCBcXI5AuPgEK6kQA89oRmaHAC3ZiCL3PyVFLEue/4QYBgSROka2/d5hHVauYB2WQAOyTYO0DgOlxbkpbUraHTjSYwe0vkyT2STeCWxtyEaq11cZtzMaWgnv20uhnZGMu0h0RlF9dLjQa+SNpG4LG/GD8UmSDcme9L1Sw6DCyWPJ0mQJ/J3QtOrqN5J6x+FG4h7n2LWzsJN558hAWZWw7yJLi2NXfL0UaulT9JUJJrJZiMZlJIJA1Hdp/uqqznOYzKTHP93OZ5aeCjjnay2PyAe9ZHEaj20GtaTOaT15AHSACVjWWmapWkGtwhu73oc4uk5jMiRPpO2wRQqmnANWTMW0zWjNqbW1tdZ3DKbg2+8HaQD393otxhGuVu+oHPMZ8YPeE4tL2Jn9yNBxNS2adSSBqYjv0T1TDpNoF5vcW5216qVnNcbDe1p01/NlGnRkESTYk2AHLbl0W1ujPFj4X3JcdRImwgRGpv+W5q+piGukCD4T5WgeKpxGFYIIF45uEyYiOltNeiEcBMEERIOUyGnbnqYWnUccYFtUs5Caxa0HtCwjWMxOhNo8ZUcIGuDXFvajQnmCJBFtOSoxbJe1sFoBmw0IkDvAkHxVtas1ht28wAm93RYfko3pvPYW11gNGNeGuh3aBNiJAtaOkqFLidUOEmm8b/pM9ANtOaznV8kDc211cf3ROnilgaTnPIgwLhwcS0j0VdSbfpYdOKWUamL9oW0oD2GSJgOB9UVS43QInOB37d8aLmccyq0y2BcjKL25X0sqG1HMDMjWkmA4kdo75SfHU8kn8VrQeXf4B/jaclj9TuxUBEgyOYTrH4I+XPA+GGnxuteV6WnJyjbPPnGnQ8q/DPghDSrGFaEB0ry/jzvc8UqjapTZU+bT8l6bTK84/4jUox2GeP1UqjT4EEfNXp917fyKXYvzpLPo4uAAksTSj0DCU2NphtEBrRsNjqZ6oeoI1WNw/HZe1TdmYfToRqlxXFuqRHZ7ib+IXDJJ5R29J7vY06hp7wqf4Sk/SCuL4hhc3xSe8k/NZ1DhrmOzUzlPSyzpvlGnRx8x6H/AtpnMDl/N+arfxLCucKdVzA42aTABJsACd+ixHvqYhgaahZUAiNn9QdZ6LExPs20zn7R0M3+apabuksEqHl5O9xWFqMbFMgiIhwmy56tjKjJD6ZjpDhfUwYvKu4Dxd9CmGVJqU2w3m5rdiJ+IbR/ZdIBSrMzsIc0/kHkehUz0b+Vi3OHzI5HD8Rpg5hUayWkFsZSJ1Fx09Vpta0PDwNdekAg69R4KzHcBpv2Cyf8GrUf8AJeQP22c3yKy9US90ZBoqkfzMrcg7tZbeLSJTYTiTs4zHWTmyycsyAANLW3+qyTxDFU7PYHgG8SJHI6/RTwvH2Zi57C1xmxbOvWdepTjOu5Tj7G43FOc4lkuDtCdstpgif7dUQMU8uyCw5kEHQmTNuSyafEH53NDgA6IytzOgbdL/AJurW1Iv2nE5pkCQQdxe2g5LV6vhmfTLMaAyW5gSYMCYAuLwDe3oqGMDwC8gHtXNhqBLidtdP7WPe8D/AERDiTGabb3g8/uq62Ja6wcJiNfivI5WGtt+gWU0uTSLfBdhntvABHTfkeZE/JLFODQP3TebQNb8ksNAaSQLuibQL3jnt4RyTVaDHHsuJA7UwIJMWnWwHr549Nyjgrckx6gJa0CJMlx2AnQR0Vv8WC2QRBsL6aaDyVGIfT93DHE6GIi50zE7EkaKvBYVzoJbAF+mbcTEWmE3GSwhKmsmvRouylziNwBrOoHjdBVK8OawHKb9oToL3APMRfkp18VIDRte2gBsPP6LMrYgtaBzNz+dE28qiUg+vSq3zFxgEmSJg/S+3NBVqUdoxMjUgeHqtVrnCkZMNMAggnwG9/qgsQ6m0hraYmxLzyJ/SJkn6olFc39yoyfAi4nJrJBAhhLSfhmZF5iBpBCYt928/rgCNRaxEn9OvorqYMn+WMsjs6CYgF0Ek7lEF8gE0g3UuLTeegIvob+q0w+/6k3QLQxjcoL2EQBO8TYkEkyBzso1wHAGLyJdpOh07lRiaGZ0gE6a6AbC+ysrtLbTsbDSek30AVxm5PayZpJWjW4ATD55hasrH4Q6GE8zPoEd75elp/Kjz5/MFSpMchfeqbKi0JNKiV57/wASan/OYRv+iqfkF3tF68z9tK3vOKNG1KgPNxJ+yvT5b9mTLsUp1AuSWFmhr4huWA12W0tI6ntAneD4XCqwnFzdrgHAEDkTp4Try0QeE4lQq2ZUa4kWaZDgegMKdHCFji49oCwHjp0F15tyXY9NNPuaFOvTqGAYP7XCDfToUZTwQHJYVakyrJaA0wLSACPupuxeR4DXuZpazmX3g7rSOp5Jkn2NOtQhwspN7Zh1nbHn39VnUePOkiqwGJ7TbSBoYP3RdLHUagJkgjZwj5WV74y4HlclnuINxrZw6c1FuDNMlzHFpO4JEjrzCubjA34hI53kfdENLXDskEeo8EWmPJVhuJVGO/cN2mJ/7Xc+hldIyrTqMD2mJ52M6ERzXL16M/dU1KJIuA7roel0uCZaal7G5iq1EfE5vjCweLYzCN5OPIX+SFxOB960yBn5c779YQODoZTDm5mjTmO6dVKhfI1ppdznuN457iDRa4RofhjlCbg3tRiKbsmIzZDb3g+Jo68x3Lsjh6DwcovNw4QVLCcBZUIbIAJ32VLTj2BulkFx1SpSbIaXU3XDmmTBvvY+aG4dxai8EOcKb5gB8AEE2IOk9F3NLg7aVAUXdoCYMeg6BctxX2Xa6SB5Ll1NOpUENVNBrSMheHDKbAkwDAF+l/kT3jDM50EtIB/SJAkbnSYnr5LmqvAKtJ2ak5zDzaSPkrsHxitRaWVKYfM9v4XXvcxB3vE31KlxVUVZ2BrWgU4GkjtEiR4Axt5K12JfkyhpaDm1AmCeljZYXBeMU3bua/UggTI5G8963W46bvLDJtLhaxsRPO62g7XNGUlngpYKWUy6OzYDWTedLDXz7lHDUWgiYMXHaBgm8wd/shnY8guYxkk/qjuIENmZgKeEe2ZcS6IGgDZAG2pI00+6yxZeaDquLD2hu1jPM356726ofH4gRJAnby+arkuaCS0NuWzbnePLZVYts2JtzEX2Pz16KLfcdLsS4NXe7NA7IjUAgkToDpHOeaPIdn+EARETpGkHUXlDU8aAGsFmgQAI0F5MXP8AdEmpnIDR2QJdOpjbp3o3J4TFlZZLFD9TC8Aw4kE2J1vz0Eb3XP8AE6xY0BpMl2p1gC+vgj5lxbyJLhJyg3lc9i8TNV0/CwCBG/PxsumDvNURWaNPA8Te0taXTzC32YqdCuQw2mbfmiMLii09F26TdHNrJXg6tuIV9KusilVBEhWsqreznOhpV7Ly4V/fY3GVpke8FJp/oADvWF1nGeLe4w9Sru1pjq42aPMhcdwKh7ugwH4nTUd1LzN/CFadQb/AXdGjCSYFJZFnG47hUgOZdp7QPQo/hGMxLLe8c4cnkuH3W5i+G/w2JfhXaXqUjs6mTcD+kn1CvwWBE6KZwSdMqMnVoHbiyWmWlpN5afy3RXdkt+IHTXsuHUc+5bVPhoI0VdXhA5LJ/DwZqteSM6m0tYbWNjO3X6+ShAZDZAmLjQn8+SIqcLI0JHcSqzSeNQ10aS2/mFHQa4LWunyGUGuy9okOi0WEDT77rIr4rFA9lwMmxAad9J7kY7FkwHskDkfurnV6NQRZm8HskHodFMoSoqOqrK6fHqjC0PaHE2dPZvytYrWwnFKVUWljt2u8tdEP/D5mRIqCQZtYiNY+SjSwLnZ80O6ttFjt3qaki9yZo1cLvN0mMH64/qH1CxaGek7K5xLTpe0c4Sx3EgIyS7WRpHj6JrVRVM2nYFshwAN58vmrrTpfl9ua5rh/FXA6FpJixzAnlBA5LSbx+mYFZpYb6jeYvBJCampcA7XJ0OE4tl7DxLdJ1I+4VtWtSJ7Lx5/e6xQ9rhLXBw7/AKhCYhg3kd4+oUyt8i6cW7WDeqUmHUgoHEcNpHcLBrYbkLcxcIZmFcTB0UKFj6ddwzGcMotM5wI3CHpcaoN7NR4jTP8Af7oilwhmpaPJXnhVMwA0HyV9AX1LMRwuqYq0Ks2kaOBEWI8Flfx+IojK6iDr8JLb3uQZBMxfoui4ZQfQswAsuck26x+1bn8PTrtu2DyIuFE9B/8AJPUrng8/o8ep6VA9pMfEMwBi8Zdv9uqPwmJY74HNNiey4OcRuMoP2RPtFw+hQ/zC0Tp1XKl2GcbEeiw2NPg1UrWDqQAGktblGhLjBBB0bFiIBtcpUcSczhTs0A3MAkbC8Dn5rPwfDnxNKoY5TPobIuK4IzbSBHZieUKJJXnA1IuoQxtQ/uJie/r4rMNIPbld58lo1WueA2IA7vsFXVa2mJcQFtDc0kjCTSdmZVolgA1HNVAojF44PGUC0zKGBXoad7cnNN2wvBYrKY2WzScHCRouXe9adLijaVB1SoYDRPfyA6kx5rVeDNmd7WVffVqOEabT76r0Y34QfXxhTqDUi35oheGUXQ+tV/zq5zuH7Kf6GeUeiMKvUfEfBMfIB/Eu6JIgsCSyo0tHe+1/BP4mk19O1eiS+medu00/6SLH/Zczgqkw6IOjhu1w1B6gr0RpXM+0fBy1xxFFsgx71g35Ob1FvC3JapblXchOmTwlwi/cysbhmLBAIMg6Fb1F0qRsHdhgqnYIHZaQamLUCMV/Cwgq/Bwdl0wYoGklQ7OQPDC34ZHcYVtN9RgI16izvNdI+gqXYYclLimUpNHMFmYkucBMTIINt9wijTaYGUG+ogi+pkba6rVq4IHZBVeGXtZY9BLg26z7gWIwVN7QC0B7bGI7UTBkXmPVDV8G91R3vHAt2tAIsYvaBz596Pq4FwEajr99UOabm/uHcZWb05J8GkdRPuZFPBB7nNYMoBJnNFpuYmxs0q52Lq0wGh+bvlx776C9ugRLcK2buDRvZwdPPkURhRlaQxzXO0Hr1J3Wb3+KNFKPkBw/FKgPaaDbYFpP0WgzGgX904jS2UGfOD3qeGbJhw62tJjkbnv6Kt+HeTl7QZNj0uT3HqlFtLI202HU6vvGZw1wuQQYkRbmo08W1uuv51WG4OY8nMb7bEbTBg/3VFWpZzSJDpjeDFtNUdeith07+P02/qaD/qIHoNVnVeJU3OD3Vnkg292XQD0y6LMwWCZaZce1oLXF7nW0Iw8OEB7+8gQJtyBNwT6CU97kLERuKVWVX5nGoSYknYRYQNP7oZ3C2uGjiDa5c2Z2EXKKrUgHAgZTFpgmOZPO35vZhnNa4Q4zJg735nuWM5tMa4J4LhFfDD+QymNLGq8t6yHCAe7zXRMxbjTGelFTcNhw8CszFYrtHJeLSb6Dbz1Te+fPKTz8Se66l6rTaE4blbMH2047WoMaKYAe92W4kgQSSBpOmqycHUe5oNR5e6Lkn8hHe1Za97cwJcCXN8SBfrf0Q9Bll3aaOWbwXsTlyiq3OW5kWMA1dZouUBhHfxb/AHrv+lpO7Df/ADqotPVguq6TDjiWtJbhGH+ZU097H6KfTmVslwMNY0NY0ZWNGgatY+nPczecD5ySSdUzikU9GnJsoGWMokhJbNLDAAJIA7cFSaf7cwqgVIFUI5Tj3An0XHEYUFzDerR583MnR3z35qzg/Em1GhzTI05EEahwNwRuCupaYXPca9npca+FhlX9bP01O8c+v9jpifPP95J4+hqU3ypgLnuF8YDnGm8FlQasdrbWP3D1G4C36VSVDTWGVyWZVEtUwU5CAKciiWK5IBIAb3SrdRRmVRLUDsBfRUDhgdloZFEsSoLMmrw9p2WdiODA7Lp3U1Q+klQ7OXHB3N+FxHcSpMqV2iHAPAtcQY5AhdOaVlU7DqXBFKTOZqVA7WmR4yPkFW9jdGkaRcBvz17l0j8GDsqKvDmnZZS0EzSOs0YlKhUDbDSPt3HSU1XDBpEntSDrvzPPX1Wk/hUfCSO6yGr4GpETmHUfZZf47SwaLXTAK2FkgyD1BtbTw1UadMRfblFwD08fRECkWm7JjkYCkxzYghzfCfVc8tGV3RstWPk0GPaA1rQABm7Q5mdyJn7IJz3DstJ66awQSCZKlSptFw8azePrpuramGMgiw+nQpTT8UEWvJxnF5djI/S1jbdSXE/TyRgCsxtAiq4np5a/VZuO4gGHI1pqVTpTbcydJ/aOpXoaUW1g5JsuxeKbTaXOIaBuUDgMFUx3bqTSwg52dWj5N/L7H4f2dAIrY54qO1bRaOw08r3eeZ+iNxOKNQ3s0aNG3JdCSj7sxbb+g9WqCAxgDabbNaLeKYKICsp05UgM1srU4bh9yqsLhpK26VKBCQCDUlblSTA6dzFHKrE6YipMVbCg9qAMrjHCKWJH8wZXj4ajbEEad/5BC56rjMRgTGIaatHauwSQNs7fw/1LsTdUuBFtRuDotI6mKllf3glx7oE4bxOnWaHU3hw5gzfkeR6G60QVyvEPZem53vcLUdha3+n4HdHM0I6C3RDN4/i8JbG4fOwf+PQ7Qjm5u3eco71XTUvkf4dxbq5OzhJZ/COPYbFD+TVa465Zh3/xN466LTyLNprDKTsgVHKrMqUJDIQmyqwBMQgCBCgGc1cAlCAKsqbIrYSKQFBpqJaiCFBwQAOaSqdRR2RRNO6VDsz3YYclS7Ag7LSrubTbme5rG83ENHmVzeN9tcM0ltBr8S8Wik05QerzYd9wmtNy4Qt1Bz+Fg7LI43icNhB/Nq5XWhjTLydoaNJ5mAgsVjuIYmxe3CUz+lnaqEdXbHuMdFn0cPhcMZA95VvLj23TvfRvhCrpwXzP7fuG+XYpdTxOL+Bpw1E/rfeq4dB+n596IwrKGEBbQbmqH4nkyT/U76BVYnH1KuvZbyH1O6hSopOfZYQV5JPc55lxk/Lu5KbWqynQlG0cKpGD0qEoynRRFPDwiGUUARwtJalNtkNQprQY2yAK8iZEZUyANxMlKSYhSlKSZAFb2qBVyi5qABatIFCVA9vwmRyP3Wm6nyVLggDk+J8EwlY5qlH3b5n3jJYZ5ktsT/UFXRw2Ooj/AJbGis0aMxDc3nUbf5LqKuHBWdiOGCZFjzFj6K1qyWOfqTsQJT9qsVT/AOowDnDd+He2p5McQ71RVD27wLrPqOoO/bWpvp+pGX1Qr6NZujs3Rwn1EFDVsU+IqUg4dDPoR9Ub4vlfYNr8nU4bjOGqD+XiKL/6arD8ijGEHS/ddeZ4rC4F96mGaDz92AfNl0F/gvD5lrnMPSpUb8yn/rfd/YPUeuGmo5V5W3htIfBja7e7EpHBj/1HFf8A2UVDz+QerweqFqjkXlTsHT/Vj6578T9kPWwGBPx1nVOjq73egcj0efy/kPV4PUsVxXD0/wDMr0mf1VGj0JWLifbrh7DH8QHu/axrnnwIEeq4RrOGs0pNd/7bnergiG8epMtSoEdzWsHp9kr0/f8AT9x1I6St7eOf/wBNgq7/APVUApDvubjxQFXiXE63xVKWGbypgvdHQm7T/wBxWNU49Xd8NNre8l32Qld2IqfFUdHJvZHpEo6qXCX6hs8s0q/D8M058VVdXfzrPzf/AIFj5J3cfYBloU7DS2VvgBf5LIocMBWjQ4ZCiU5S5ZSikU1cRVq/E4x+0WH+/ip0cItWhgEdSwCQGRSwqNo4PotalgwETTw8IAz6ODRTcOjW0lIMQAKKKsFJEZUg1AEKTEWxtlFjVe0IAhkSU4SQBopJkimIRSSTIAdNKSYoAUpnCU0pSgCDqfJVOb0RMpIABdTVFTDA7LSNMFQNFAzCxHDWnULPr8FbyXUmiqzS6JUFnG1uBNOyz6vs6HbLvzRHJVHDBKh2cRT9mgBon/wAcvRdsaAUDQCdAcS7gkbK9nA+i6x+HSbSCQHO0+EDkp/4YNwuiFBJ2GnZMDAw/DALhGU8BfRbFLB2VzcMAigsxmUCDojGYZH5AnyoED08OFI4dXBqkgAY0EhSV5cnbogAcUlLIroSQIg1inCdJMBkkkkqAMBTJJJgPKRKSSAGlJMkgBikE6SAEkkkgBJFJJAxikkkgQoUS3okkgCJYFA0xySSQMXuhySFIckkkCJZQnCSSBiTQkkkIYtunhMkgYxTBJJACeJUQkkgCSYJJJgOknSQIZJJJAH/2Q==");
	background-repeat: no-repeat;
	background-size: cover;*/
	background-color:red;
}

#two {
	background-color:orange;
}

#three {
	background-color:yellow;
}

#four {
	background-color:green;
}

#five {
	background-color:blue;
}

#six {
	background-color:purple;
}

#end {
	background-color:white;
	height:200px;
}

#letter {
	width:1100px;
	height:400px;
	margin-top:400px;
	background-color:black;
	position:fixed;
	z-index:100;
	margin-left:30px;
}

#test{
	width: 0;
  	height: 0;
  	border-left: 550px solid transparent;  /* Controls the width of the triangle base */
  	border-right: 550px solid transparent; /* Controls the width of the triangle base */
  	border-top: 350px solid #AAAAAA;  /* Sets the color and height of the triangle */
  	z-index:150;
  	margin-left:30px;
  	position:fixed;
  	margin-top:400px;


  	animation-name:open;
  	animation-duration:1s;
  	animation-timing-function:cubic-bezier(1, 1, 1, 1);
  	animation-fill-mode: forwards;

}

#test2{
	width: 0;
  	height: 0;
  	border-left: 550px solid transparent;  /* Controls the width of the triangle base */
  	border-right: 550px solid transparent; /* Controls the width of the triangle base */
  	border-bottom: 0px solid #AAAAAA;  /* Sets the color and height of the triangle */
  	z-index:150;
  	margin-left:30px;
  	position:fixed;
  	margin-top:400px;


  	animation-name:open2;
  	animation-duration:1s;
  	animation-delay:1s;
  	animation-timing-function:cubic-bezier(1, 1, 1, 1);
  	animation-fill-mode: forwards;

}

@keyframes open {
  0% {
  }

  100% {
    /*transform: rotate(180deg);*/
  	/*margin-top: 50px;*/
  	border-top: 0px solid #AAAAAA;
  	/*border-bottom: 350px solid #AAAAAA;*/
  	/*z-index: -150;*/
  	margin-top:400px;
}
}

@keyframes open2 {
  0% {

  }

  100% {
  	border-top: 0px solid #AAAAAA;
  	border-bottom: 350px solid #AAAAAA;
  	margin-top:50px;
  	z-index: -150;
}
}

